@media only screen and (max-width:1250px){
    .menu-and-btn{
        display: block!important;
        position: fixed;
        width: 100%;
        max-width: 480px !important;
        height: 100%;
        z-index: 9999999;
        top: 0;
        left: -100%;
        overflow-y: scroll;
        background: #d83030 !important;
        text-align: center;
        padding-top: 10px;
        transition: all .5s;

        
        

    }
    .close-menu span{
  
        color: rgb(255, 255, 255) !important;
       
    }
    .menu-list li a{
        color: #fff;
    }
    .menu-list li{
        display: block;
        padding: 5px 0;
    }
    .open-menu{
        display: block;
    }
    .header-btn{
      margin-left: 10%;
    }
    .hide-btn{
        display: block !important;
        color: white;
        font-size: 35px;
        position: absolute;
        right: 0;
    }
    .close-menu{
        color: #032e42 !important;
} 

}


@media only screen and (max-width:944px){


.banner h1 {
    font-size: 50px;
}
.bizix-text h2 {
    font-size: 40px;
}
p{
    font-size: 18px !important;
}

}
@media only screen and (max-width:700px){
    .banner h1 {
        font-size: 45px;
    }
    .bizix-text h2 {
        font-size: 35px;
    }
    
}
@media only screen and (max-width:700px){
    .banner h1 {
        font-size: 37px;
    }
    p{
        font-size: 17px !important;
    }
    .main-btn {
      
        font-size: 16px;
       
    }
    .bizix-text h2 {
        font-size: 29px;
    }
    .bizix-text span {
        font-size: 18px;
     
    }
}
@media only screen and (max-width:300px){
    .bizix-text h5 {
        font-size: 16px;
    }
    body h3{
     font-size: 20px !important;
    }
    .bizix-text h2 {
        font-size: 25px;
    }
}